@media screen and (max-width: 768px) {

    section#login {
        flex-direction: column;
        width: 90vw;
        height: auto;          
    }

    div#formulario {
        width: 100%;
        height: auto;           
        border-radius: 20px 20px 0 0;
        padding-bottom: 10px;   
    }

    div#imagem {
        width: 100%;
        height: 40vh;           
        border-radius: 0 0 20px 20px;
    }
}