@charset "UTF-8";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}


html, body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #486F8A, #89AEC1, #A7C4D6);
    background-attachment: fixed;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


section#login {
    display: flex;
    width: 80vw;
    max-width: 1000px;
    height: 355px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


#login > div {
    width: 50%;
    height: 100%;
}


div#imagem {
    background-image: url(../imagens/pexels-alex-o-neal-1013679304-20276781\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}


div#formulario {
    background-color: #ffffff;
    padding: 10px 0;
}

div#formulario h1 {
    text-align: center;
    padding: 15px;
}

div#formulario p {
    margin: 0 15px 15px;
}


div.campos {
    background-color: #486F8A;
    border: 2px solid #486F8A;
    display: flex;
    align-items: center;
    width: calc(100% - 24px);
    height: 40px;
    margin: 0 auto 5px;
    border-radius: 8px;
    padding-left: 8px;
}

div.campos i {
    color: #fff;
    font-size: 22px;
}


input.entradas {
    width: 100%;
    height: 90%;
    margin-left: 8px;
    padding-left: 6px;
    font-size: 1em;
    background-color: #A7C4D6;
    border: none;
    border-radius: 8px;
    outline: none;
}

input.entradas:focus {
    background-color: #ffffff;
}

input.entradas::placeholder {
    color: #486F8A;
    opacity: 1;
}


div#centro {
    display: flex;
    justify-content: center;
}

button#botao {
    width: calc(100% - 24px);
    height: 40px;
    margin: 5px auto;
    background-color: #486F8A;
    border: 2px solid #486F8A;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

button#botao:hover {
    background-color: #A7C4D6;
    color: #486F8A;
}


button#senha {
    width: calc(100% - 24px);
    height: 40px;
    margin: 5px auto;
    background-color: #ffffff;
    border: 2px solid #486F8A;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 1rem;
    color: #486F8A;
    cursor: pointer;
}

button#senha:hover {
    background-color: #A7C4D6;
}


div#cadastro{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 0.9rem;
}











