@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-image:linear-gradient(to bottom,#486F8A,#89AEC1,#A7C4D6) ;
    background-attachment: fixed;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

section#login{

    display: flex;
    width: 80vw;      
    max-width: 1000px;
    height: 355px; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    
    
    
}

#login > div{
    width: 50%;
    height: 100%;
    
}


div#imagem{

    background-image: url(../imagens/pexels-alex-o-neal-1013679304-20276781\ \(1\).jpg);
    background-position: center center;
    background-size: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

div#formulario{
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
div h1 {
    text-align: center;
    padding: 15px;
}


div p{
    text-align: left;
    margin-left: 15px;
    margin-bottom: 15px;
}


div.campos{
    background-color: #486F8A;
    border: 2px solid #486F8A;
    display: flex;              
    align-items: center;       
    width: 94%;
    height: 40px;
    border-radius: 8px;
    margin-left: 12px;
    padding-left: 8px;
    margin-bottom: 5px;
}


div.campos i {
    color: #fff;
    font-size: 22px;
    
}


input.entradas{
    font-size: 1em; 
    background-color: #A7C4D6;
    border: none;
    width: 100%;
    height: 90%;
    margin-left: 8px;   
    padding-left: 6px;       
    border-radius: 8px;
    outline: none;
  
}


input.entradas:focus{
    background-color: #ffffff;
}

input.entradas::placeholder {
    font-size: 1em;         
    color: #486F8A;             
    opacity: 1;  
    text-indent: 2px;            
}


button#botao{
    background-color: #486F8A;
    border: 2px solid #486F8A;
    display: flex;              
    align-items: center;       
    width: 94%;
    height: 40px;
    border-radius: 8px;
    margin-left: 12px;
    padding-left: 8px;
    margin-bottom: 5px;
}



























/*#5F2C82 ,#57538B, #4C929A*/